.main-wrapper {
  height: 100vh;
  width: 100%;
  display: flex;

  .burger-menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    margin: 10px;
    display: none;

    @media screen and (min-width: 320px) and (max-width: 992px) {
      display: block;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  .sidebar-hover-wrapper {
    width: 1px;
    height: 100%;
    position: fixed;
  }

  .main-content-wrapper {
    width: 100%;

    .timezone-section {
      position: fixed;
      right: 0;
      margin-right: 40px;
      margin-top: 15px;
    }

    .clock-wrapper {
      height: 100vh;
    }
  }

}
